<!--
Allow searching by location
Allow selection type of food (e.g. Pizza, Italian, Tapas, etc.)
Allow sorting by rating or distance
-->

<form name="searchRestaurantForm" novalidate>
  <div ng-show="!searchRestaurantForm.$valid && submitted" class="error-msg">
    <span>Food type and zip code are required</span>
  </div>

  <div>
    <span class="field-title">Find: </span><select class="food-type" name="selectedFoodType" ng-model="selectedFoodType" ng-options="x for x in foodTypes" required></select>
  </div>

  <div>
    <span class="field-title">Near: </span><input class="zip-code" ng-class="{'is-empty': !zipCode && submitted}" type="text" name="zipCode" ng-model="zipCode" required>
  </div>

  <div>
    <button class="search" type="button" ng-click="submitted = true;searchRestaurantForm.$valid && submit()">Search</button>
  </div>
</form>
